<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="home">
    Test App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [class.active]="route === '/numbers'">
        <a class="nav-link" href="#" routerLink="numbers">
          <i class="fas fa-sort-numeric-up fa-fw"></i> Numbers
        </a>
      </li>
      <li class="nav-item" [class.active]="route === '/paragraphs'">
        <a class="nav-link" href="#" routerLink="paragraphs">
          <i class="fas fa-paragraph fa-fw"></i> Paragraphs
        </a>
      </li>
    </ul>
  </div>
</nav>


