/* Hoja de estilo del componente Numbers */

/* Clases para pintar las filas de las tablas */
.is-two-and-over {
  background-color: green;
  color: white;
}

.is-one {
  background-color: yellow;
}

.is-under-one {
  background-color: gray;
}

textarea {
  resize: none;
  height: 50px;
}
