<h2 class="text-uppercase mb-4">
  <i class="fas fa-sort-numeric-up fa-fw"></i>Numbers
</h2>

<section class="numbers-button">
  <button class="btn btn-primary mb-3" (click)="getNumbers()">
    Obtener datos desde Endpoint
  </button>
</section>


<div *ngIf="loadingData">
  <i class="fas fa-spinner fa-spin fa-fw"></i> Cargando datos...
</div>

<div *ngIf="showData" class="mb-1">
  <div *ngIf="numbers">
    <section class="numbers-table">
      <h3>Tabla de ocurrencias de los números obtenidos</h3>

      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>N°</th>
            <th>Number</th>
            <th>Quantity</th>
            <th>First Position</th>
            <th>Last Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quantityNumber of quantityNumbers;let i = index"
            [class.is-under-one]="quantityNumber.quantity < 1" [class.is-one]="quantityNumber.quantity == 1"
            [class.is-two-and-over]="quantityNumber.quantity >= 2">
            <td>{{i+1}}</td>
            <td>{{quantityNumber.number}}</td>
            <td>{{quantityNumber.quantity}}</td>
            <td>{{quantityNumber.firstPosition}}</td>
            <td>{{quantityNumber.lastPosition}}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <hr />

    <section class="numbers-textarea">
      <h3>Textarea (Textbox) con números obtenidos de menor a mayor</h3>

      <textarea class="form-control" rows="4" placeholder="Aquí van a ir los números en orden"
        readonly>{{orderedNumbers}}</textarea>
    </section>
  </div>

  <div *ngIf="!numbers">
    No se devolvieron números
  </div>
</div>
