<h2 class="text-uppercase mb-4">
  <i class="fas fa-paragraph fa-fw"></i> Paragraphs
</h2>

<button class="btn btn-primary mb-3" (click)="getParagraphs()">
  Obtener datos desde Endpoint
</button>

<div *ngIf="loadingData">
  <i class="fas fa-spinner fa-spin fa-fw"></i> Cargando datos...
</div>

<div *ngIf="showData">
  <div *ngIf="paragraphs">
    <section class="paragraphs-table">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>N°</th>
              <th *ngFor="let letter of letters">
                {{letter}}
              </th>
              <th>Suma numéricos contenidos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paragraph of paragraphs; let i = index">
              <td>
                {{i+1}}
              </td>
              <td *ngFor="let letter of letters">
                {{getQuantityLetters(paragraph, letter).quantity}}
              </td>
              <td>
                {{getNumbersParagraph(paragraph)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<div *ngIf="!paragraphs">
  No se encontraron párrafos
</div>
