<div class="row">
  <div class="col-sm-6 col-12 mb-3">
    <a href="#" routerLink="/numbers" class="numbers">
        <i class="fas fa-sort-numeric-up"></i> Numbers
    </a>
  </div>
  <div class="col-sm-6 col-12">
    <a href="#" routerLink="/paragraphs" class="paragraphs">
        <i class="fas fa-paragraph fa-fw"></i> Paragraphs
    </a>
  </div>
</div>