a {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
  transition: opacity 0.1s linear 0s;

  &.numbers {
    background-image: linear-gradient(to bottom right, steelblue, white);
  }

  &.paragraphs {
    background-image: linear-gradient(to bottom right, tomato, white);
  }

  &:hover {
    opacity: 0.75;
  }
}